.lista-movimientos {
  max-width: 700px;
  margin: 30px auto;
}

.tarjeta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  margin-bottom: 15px;

  border-radius: 12px;
  background-color: #242424;
}

.tarjeta h3 {
  margin: 0;
}

.tarjeta p {
  margin: 5px 0;
}

.tarjeta.gasto {
  border-left: 5px solid red;
}

.tarjeta.ingreso {
  border-left: 5px solid green;
}

.acciones {
  margin-top: 10px;
}

.acciones button {
  margin-left: 5px;
}